.App {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.list-elements{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
}

span{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.display-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  height: fit-content;
  width: 800px;
  margin-left: 280px;
}